{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h2>Contact Form</h2>

    <hr>

    <p>Fill in this form to contact the site owners.</p>

    <form method="POST" action="{{ url_for('contact') }}">
      {{ form.hidden_tag() }}  {# CSRF Token #}

      <div class="mb-3">
        <strong>{{ form.name.label(class="form-label") }}</strong> <span style="color: red;">(Required)</span>
        <p class="text-muted">Please enter your full name</p>
        {{ form.name(class="form-control") }}
        
      </div>

      <div class="mb-3">
        <strong>{{ form.email.label(class="form-label") }}</strong> <span style="color: red;">(Required)</span>
        <p class="text-muted">Please enter your e-mail address</p>
        {{ form.email(class="form-control") }}
        
      </div>

      <div class="mb-3">
        <strong>{{ form.subject.label(class="form-label") }}</strong> <span style="color: red;">(Required)</span>
        <p class="text-muted">Please enter the subject for your message</p>
        {{ form.subject(class="form-control") }}
      </div>

      <div class="mb-3">
        <strong>{{ form.message.label(class="form-label") }}</strong> <span style="color: red;">(Required)</span>
        <p class="text-muted">Please enter the message you would like to send</p>
        {{ form.message(class="form-control", rows=5) }}
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
{% endblock %}
